<!DOCTYPE html>
<html>
<head>
        <title>SIGNUP PAGE</title>
</head>
<body style="background-color:black">
	<font color="red"><h1>Enter the following details to SIGNUP and each detail must have length more than 5</h1></font>
	<form action="" method="POST">
		<h2><font color="white">NAME : </font><input type="text" name="name"><br>
		<font color="white">USERNAME : </font><input type="text" name="username"><br>
                <font color="white">PASSWORD : </font><input type="password" name="password"><br>
                <font color="white">CONFIRM_PASSWORD : </font><input type="password" name="con_password"><br>
		<input type="submit">
		<a href={{ url_for('home') }}><button> Back </button></a></h2></form>
</body>
</html>


