<!DOCTYPE html>
<html>
<head>
	<title>USER HOME</title>
</head>
<body style="background-color:black">
        <font color="red"><h1>Welcome</h1></font><br>
	<font color="red"><h2>Upload your files here </h2></font>
	<a href={{ url_for("upload") }}><button> UPLOAD </button></a><br>
	<font color="red"><h2>Download your files here</h2></font>
	<a href={{ url_for("download")}}><button> DOWNLOAD </button></a><br>
	<font color="red"><h2>View your files here</h2></font>
	<a href={{ url_for("view") }}><button> VIEW </button></a><br><br>

</body>
</html>
